{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 3 Chrome versions"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator"
  ]
}
